@font-face {
    font-family: 'fontello';
    src: url('fontello.ttf?12473107') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('inconsolata.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
    background: #EEE;
    color: #222;
    font-family: 'Inconsolata';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: url('background.png');
}

#header {
    display: flex;
    flex-wrap: wrap;
    min-height: 2em;
    width: 100%;
    font-size: 2em;
    background: #222;
    color: #EEE;
    z-index: 100;
}

#header-menu-button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
    padding: 0.5em;
    cursor: pointer;
}

#title-text {
    background: inherit;
    display: inline-block;
    font-size: 1.5em;
    padding: .1em .5em .3em .5em;
}

#header-text {
    display: inline-block;
    float: right;
    padding: 1.2em;
    word-spacing: -.2em;
    font-size: 0.6em;
}

#content {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 60em) {
    #content {
        width: 60em;
    }
}

#login-content {
    max-width: 23.2em;
    margin: 0 auto;
}

.index_view {
    margin: 1em;
    border: 2px solid #3571a3;
    background-color: #FFF;
}

.index_view_title {
    padding: 0.5em;
    font-size: 1.1em;
    background: #3571a3;
    color: #EEE;
    font-weight: bold;
}

.index_view_title input[type=submit] {
    width: initial;
    font-size: initial;
    padding: 0.1em 0.2em;
    float: right;
    background: none;
    border: none;
    color: #FFF;
}

.index_view_title a.floater {
    padding-left: 1em;
    float: right;
}

.index_view .iv_text {
    display: block;
    margin: 0.5em;
}

.index_view .iv_text a {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.index_view_title b a, #header-text a {
    text-decoration: underline;
}

.index_view p, .index_view table {
    margin: 0.5em;
}

.index_view td {
    vertical-align: baseline;
}

.index_view br {
    border: none;
    border-top: 1px solid #666;
}

.index_view pre {
    margin: 0.5em;
    padding: 1em;
    background-color: #DDD;
}

.index_view_item {
    margin: 0.5em;
    margin-top: 0;
    padding: 0.5em;
    border: 1px solid #666;
    background-color: #EEE;
    display: block;
}

.index_view .index_view_item {
    margin-top: 0.5em;
}

.index_view .index_view_item ~ .index_view_item {
    margin-top: 0;
}

.index_view_item .index_view_item {
    background-color: #FFF;
}

.index_view_item a {
    display: inline-block;
}

.index_view_item .fw {
    width: 100%;
}

.index_view_item .primary_item_name {
    margin-right: 0.5em;
    display: inline-block;
    width: 100%;
}

.primary_item_name + .index_view_item {
    margin-top: 0.5em !important;
}

.primary_item_name i a {
    padding-left: 1em;
}

.index_view_item i {
    color: #666;
    margin-right: 0.2em;
    display: inline-block;
    float: right;
}

.attempt_view {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.attempt_view a {
    display: inline-block;
}

.attempt_view:last-child {
    border-bottom: 1px solid #666;
    margin-bottom: 0.5em;
}

.index_view_item .attempt_view {
    margin: 0;
}

.index_view_item a:hover {
    text-decoration: underline;
}

.item_option {
    font-family: fontello;
    font-style: normal;
    float: right;
    padding: .1em .3em;
}

.index_view_item .item_option:hover {
    color: #06F;
    text-decoration: none;
}

.editor-ta {
    display: block;
    padding: 1em;
    flex-grow: 1;
    resize: none;
    border: none;
    outline: none;
    margin-left: 29px;
}

#inline-menu-hack {
    background: inherit;
    flex-grow: 1;
    display: inline-block;
}

.menu-hidden {
    display: inline-block;
}

#header-menu {
    background: #222;
    display: flex;
    flex-wrap: wrap;
    font-size: initial;
    margin: 0.6em 0;
}

#header-menu .ed-menu-top * {
    min-width: 5em;
    background: #222;
    color: #EEE;
    display: inline-block;
    text-align: center;
    flex-grow: 1;
}

.ed-menu-top {
    width: auto;
    height: 3em;
    display: flex;
    margin-right: 1em;
}

.ed-menu-top:last-of-type {
    flex-grow: 1;
}

#header-menu .ed-menu-top:last-of-type p {
    text-align: right;
}

#header-menu input {
    width: initial;
}

#header-menu input[type=text] {
    font: inherit;
    background: #333;
    border: none;
    border-bottom: 2px solid #666;
    width: 16em;
}

.editor-option {
    border: 1px solid #444 !important;
    border-right: none !important;
    cursor: pointer;
}

.editor-option:last-of-type {
    border-right: 1px solid #444 !important;
}

#header-menu .editor-option:hover {
    background: #444 !important;
}

#editor-hpane {
    display: flex;
    flex-direction: row;
    /*
     * This is a hack to get long lists of previous runs to not push the edit
     * container div to overlap the header. I know no other way of fixing the
     * pretty awful issue otherwise
     */
    flex-grow: 1;
    flex-shrink: 10000000000;
}

.vertical-flexbox-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#editor-info-handle {
    width: 0px;
    background: #222;
    border: dotted #EEE 7px;
}

#editor-info-pane {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 40em;
    padding-top:0.5em;
}

.horiz-hidden {
    width: 0 !important;
}

.test_case input {
    width: 30%;
}

input[type=submit] {
    border: #666 1px solid;
    display: inline-block;
}

.test_case input[type=submit] {
    float: right;
}

.index_view_item .test_case .test_case_mark {
    border: none;
    background: #FFF;
    width: 1.5em;
}

@media only screen and (max-aspect-ratio: 1/1) {
    #editor-hpane {
        flex-direction: column;
    }

    #editor-info-handle {
        height: 0px;
        width: auto;
    }

    #editor-info-pane {
        max-width: 100%;
        max-height: 20em;
    }

    .horiz-hidden {
        width: auto !important;
        height: 0 !important;
    }

    #inline-menu-hack {
        width: 100%;
    }

    #header-menu {
        margin-bottom: 0;
    }

    .ed-menu-top {
        width: 100%;
        margin-right: 0;
    }

    #header-menu .ed-menu-top:last-of-type p {
        text-align: center;
    }

    #header-menu-button {
        display: block;
    }

    .menu-hidden {
        display: none !important;
    }

    .test_case input {
        width: 100%;
    }

    .test_case input[type=submit] {
        margin-top: 6px;
        float: none;
    }

    .test_case .test_case_mark {
        margin-top: 0 !important;
    }
}

#editor-info-pane div {
    background: #FFF;
}

#editor-info-pane div div {
    min-width: 0;
    overflow: auto;
}

.plain_gutter {
    width: 29px;
}

.gutter_pointer .CodeMirror-linenumber {
    cursor: pointer;
}

.index_view textarea {
    width: 100%;
}

.CodeMirror {
    flex-grow: 1 !important;
}

.mini .CodeMirror {
    height: auto !important;
}

.mini .CodeMirror-scroll{
    height: auto !important;
}

.CodeMirror-lines {
    padding: 1em 0 0 0 !important;
}

.inline-comment + .CodeMirror div .CodeMirror-lines {
    margin: 0 1em !important;
}

.inline-comment, .inline-comment + .CodeMirror div .CodeMirror-lines {
    font-style: italic;
    border-bottom: 1px dotted #DDD;
}

.mini .CodeMirror-sizer {
    min-height: 0 !important;
}

.CodeMirror:last-of-type {
    border-bottom: none;
    padding-bottom: 1em !important;
}

.mini .CodeMirror-gutters {
    height: auto !important;
}

.error {
    color: #F00;
    background: #FCC;
    text-align: center;
}

form {
    margin: 0;
}

form input {
    font-size: 1em;
    width: 20em;
    font-family: inherit;
    padding: 0.4em;
}

form input[type=submit], form label {
    color: #222;
    cursor: pointer;
    text-align: center;
}

form input[type=submit]:hover, form label:hover {
    background: #fed142 !important;
}

form .index_view_title input[type=submit]:hover {
    background: initial !important;
    color: #fed142;
}

form input[type=file] {
    display: none;
}

.test_case {
    margin-top: -1;
    margin-bottom: 0;
}

.test_case ~ .test_case {
    border-top: none;
}

.test_case:first-of-type {
    margin-top: 0.5em;
}

.test_case:last-of-type {
    margin-bottom: 0.5em;
}

.test_case p {
    margin: 0;
}

.test_case hr {
    border: none;
    border-top: 1px solid #DDD;
}

.test_case_mark {
    font-family: fontello;
    font-style: normal;
    float: right;
}

.index_view_item .index_view {
    padding: 0.5em;
    margin: 0.5em;
}

.test_case .deltest {
    display: inline !important;
    float: right !important;
}

hr.topper {
    margin-bottom: 0;
}
