{% if is_index_view %}
<div class="index_view">
    <div class="index_view_title">
        {% if link_section %}
        <a href='/class/{{ section.id }}'>{{ section.name}}</a>
        {% endif %}
        Assignments
        {% if teacher_view %}
            <a href='/new_assignment/{{ section.id }}/select'>(Create new assignment)</a>
        {% endif %}
    </div>
{% else %}
    <div class="iv_text">
        <a href='/class/{{ section.id }}'>{{ section.name}}</a>
    </div>
{% endif %}
    {% for assignment in assignments %}
        <div class="index_view_item">
            <div class="primary_item_name">
                {% if teacher_view %}
                    <i><a href="/assignment/delete/{{ section.id }}/{{ assignment.id }}">(Delete)</a></i>
                {% endif %}
                <a href="/assignment/{{ assignment.id }}">{{ assignment.assignment_template.name }}</a>
                <i>Due {{ assignment.due_date|format_datetime }}</i>
            </div>
            {% if not teacher_view %}
                {% with attempts=all_attempts[assignment.id] %}
                {% include "attempt.html" %}
                {% endwith %}
            {% endif %}
        </div>
    {% endfor %}
    {% if not section.assignments.all() and not assignments.all() %}
        <div class="iv_text">No assignments</div>
    {% endif %}
{% if is_index_view %}
</div>
{% endif %}
