{% extends "base.html" %}
{{ teacher_view }}<br>
{% block prehead_hack %}
{% if teacher_view %}
    <form
        id="editor-form"
        class="vertical-flexbox-wrapper"
        method="post"
        action="/assignment/update/{{ assignment.id }}"
    >
{% endif %}
{% endblock %}
{% block head_menu %}
{% if teacher_view %}
        <div class="ed-menu-top"><input
            type="submit"
            name="save"
            value="Save"
            class="editor-option"
        ></div>
{% endif %}
{% endblock %}
{% block body %}
<div id="content">
    <div class="index_view">
        <div class="index_view_title">
            <b><a href="/class/{{ assignment.section.id }}">{{ assignment.section.name }}</a>:</b>
            {% if teacher_view %}
            <input name="name" value="{{assignment.assignment_template.name}}">
            {% else %}
            {{assignment.assignment_template.name}}
            {% endif %}
        </div>
        <table>
        <tr><td><b>Date Posted:</b></td><td><i>{{ assignment.time_posted|format_datetime }}</i></td></tr>
        <tr><td><b>Date Due:</b></td><td>
        {% if teacher_view %}
        <input name="due_date" type="datetime-local" value="{{ assignment.due_date|form_datetime }}">
        {% else %}
        <i>{{ assignment.due_date|format_datetime }}</i>
        {% endif %}
        </td></tr>
        <tr><td><b>Assignment Description:</b></td><td>
        {% if not teacher_view %}
        {{ assignment.assignment_template.description }}
        {% endif %}
        </td></tr>
        </table>
        {% if teacher_view %}
        <hr class="topper">
        <textarea name="description">{{ assignment.assignment_template.description }}</textarea>
        {% endif %}
    </div>
    <div class="index_view">
        <div class="index_view_title">
            Assignment Template
        </div>
        <textarea name='template_code' class="python" {% if not teacher_view %}readonly{% endif %}
            >{{ assignment.assignment_template.template_code }}</textarea>
    </div>
    {% if teacher_view %}
    <div class="index_view">
        <div class="index_view_title">
            Reference Implementation
        </div>
        <textarea name='reference_impl' class="python"
            >{{ assignment.assignment_template.reference_impl }}</textarea>
    </div>
    <div class="index_view">
        <div class="index_view_title">
            Provision Script (shell)
        </div>
        <textarea name='provision_script'
            >{{ assignment.assignment_template.provision_script or '' }}</textarea>
    </div>
    <div class="index_view">
        <div class="index_view_title">
            Pre-Test Script (python)
        </div>
        <textarea name='test_code' class="python"
            >{{ assignment.assignment_template.test_code }}</textarea>
    </div>
    {% endif %}
    <div class="index_view">
    {% if teacher_view %}
        <div class="index_view_title">Visible Test Cases</div>
        {% for test in test_cases %}
            <div class="index_view_item attempt_view test_case">
                <input name="test_in_{{ test.id }}" value="{{ test.input }}"> = 
                <input name="test_out_{{ test.id }}" value="{{ test.output }}">
                <input class="deltest test_case_mark" name="deltest_{{ test.id }}" type="submit" value="&#xe802;">
            </div>
        {% endfor %}
        <div class="index_view_item test_Case">
            <input name="test_in_new" placeholder="In"> = 
            <input name="test_out_new" placeholder="Out">
            <input name="new_test" type="submit">
        </div>
    </div>
    <div class="index_view">
        <div class="index_view_title">Hidden Test Cases</div>
        {% for test in private_tests %}
            <div class="index_view_item attempt_view test_case">
                <input name="test_in_{{ test.id }}" value="{{ test.input }}"> = 
                <input name="test_out_{{ test.id }}" value="{{ test.output }}">
                <input class="deltest test_case_mark" name="deltest_{{ test.id }}" type="submit" value="&#xe802;">
            </div>
        {% endfor %}
        <div class="index_view_item test_case">
            <input name="htest_in_new" placeholder="In"> = 
            <input name="htest_out_new" placeholder="Out">
            <input name="new_htest" type="submit">
        </div>
        </div>
    {% else %}
        <div class="index_view_title">Test Cases</div>
        {% for test in test_cases %}
            <div class="index_view_item attempt_view">
                {{ test.input }} = {{ test.output }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if teacher_view %}
    <div class="index_view">
        <div class="index_view_title">Submissions</div>
        {% if submissions %}
            {% for s in submissions %}
            <div class="index_view_item">
                <a class="fw" href="/submission/{{ s.id }}">
                {{ s.instance.student.account.name }}
                <i>{% if s.submission.one_or_none() %}
                    {{ s.submission.first().grade }}%
                {% else %}
                    (ungraded)
                {% endif %}</i>
                </a>
            </div>
        {% endfor %}
        {% else %}
        <p>No submissions</p>
        {% endif %}
    </div>
    {% endif %}
    {% if student_view %}
    <div class="index_view">
        <div class="index_view_title">Attempts</div>
        {% include "attempt.html" %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block postbody_hack %}
    {% if teacher_view %}</form>{% endif %}
{% endblock %}
