{% for attempt in attempts %}
    <div class="index_view_item attempt_view"><a
        href='/edit/{{ assignment.id }}/{{ attempt.id }}'
    >{{ attempt.name }}</a>
    <a
        class="item_option"
        aria-hidden="true"
        href='/upload/{{ assignment.id }}/{{ attempt.id }}'
    >&#xe800;</a><a
        class="item_option"
        aria-hidden="true"
        href='/edit/{{ assignment.id }}/{{ attempt.id }}'
    >&#xe801;</a><a
        class="item_option"
        aria-hidden="true"
        href='/attempt/delete/{{ assignment.id }}/{{ attempt.id }}?path={{ request.path }}'
    >&#xe802;</a>
    {% with latest=attempt.latest_submitted %}
    {% if latest %}
        <i><a href='/submission/{{ latest.id }}'>
            {% if latest.submission.first() %}
                ({{latest.submission.first().grade}}%)
            {% else %}
                (Ungraded)
            {% endif %}</a></i>
    {% else %}
        <i>Not submitted</i>
    {% endif %}
    {% endwith %}
    </div>
{% endfor %}

<div class="index_view_item attempt_view"><a
    aria-hidden="true"
    href='/edit/{{ assignment.id }}/new'
>New Attempt</a><a 
    class="item_option"
    aria-hidden="true"
    href='/upload/{{ assignment.id }}/new'
>&#xe800;</a><a
    class="item_option"
    aria-hidden="true"
    href='/edit/{{ assignment.id }}/new'
>&#xe801;</a>
</div>

