<html>
<head>
    <title>pyschool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link href="/static/main.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <script src="/static/menu.js"></script>
    <script src="/static/autocm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/codemirror.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/mode/python/python.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block prehead_hack %}
    {% endblock %}
    <div id="header">
        <div id="title-text">
            <a href="/">pyschool</a>
        </div>
        <div id="header-menu-button">|||</div>
        <div id="inline-menu-hack" class='menu-hidden'>
        <div id="header-menu">
        {% block head_menu %}
        {% endblock %}
        <div class="ed-menu-top">
            {% if current_user %}
                <p>{{ current_user.name }}<a href="/logout">(logout)</a></p>
            {% endif %}
        </div>
        </div>
        </div>
    </div>
    {% block body %}
    {% endblock %}
    {% block postbody_hack %}
    {% endblock %}
</body>
</html>
