{% extends "base.html" %}
{% block prehead_hack %}
    {% if teacher_view %}
    <form
        id="editor-form"
        class="vertical-flexbox-wrapper"
        method="post"
        action="/class/update/{{ section.id }}"
    >
    {% endif %}
{% endblock %}
{% block head_menu %}
    {% if teacher_view %}
        <div class="ed-menu-top"><input
            type="submit"
            name="save"
            value="Save"
            class="editor-option"
        ></div>
    {% endif %}
{% endblock %}
{% block body %}
<div id="content">
    <div class="index_view">
        <div class="index_view_title">
            {% if teacher_view %}
            <input name="section_name" value="{{ section.name }}">
            <a class="floater" href="/class/delete_{{section.id}}">Delete Section</a>
            <a class="floater" href="/csv/{{section.id}}">Get CSV</a>
            {% else %}
            {{ section.name }}
            {% endif %}
        </div>
        <p><b>Instructor:</b>
            <u><a href="mailto:{{ section.owner.account.email }}">{{ section.owner.account.name }}</a></u>
        </p>
        <hr>
        <p><b>Class Description:</b>
        {% if not teacher_view %}
        {{ section.description }}
        {% endif %}
        </p>
        {% if teacher_view %}
        <hr class="topper">
        <textarea name="description">{{ section.description }}</textarea>
        {% endif %}

    </div>
    {% if teacher_view %}
    <div class="index_view">
        <div class="index_view_title">Students</div>
        <div class="index_view_item">
            Add new students: <input name="new_students" placeholder="IDs">
            <input name='newstuds' type="submit">
        </div>
        {% for student in section.students %}
        <div class="index_view_item">
            {{ student.account.name }} (<a href="mailto:{{ student.account.email }}">{{ student.account.network_id }}</a>)
            <a href='/remove_student/{{ section.id }}/{{ student.id }}'>(Remove)</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% with link_section=False, is_index_view=True %}
        {% include 'assignments_view.html' %}
    {% endwith %}
</div>
{% endblock %}
{% block postbody_hack %}
    {% if teacher_view %}</form>{% endif %}
{% endblock %}
