{% extends "base.html" %}
{% block head %}
    <script src="/static/main.js"></script>
{% endblock %}
{% block prehead_hack %}
    <form
        id="editor-form"
        class="vertical-flexbox-wrapper"
        method="post"
        action="/instance/submit/{{ attempt.assignment.id }}/{{ attempt.id }}"
    >
{% endblock %}
{% block head_menu %}
        <div class="ed-menu-top">
        <p><a href='/class/{{ attempt.assignment.section.id }}'>{{ attempt.assignment.section.name }}</a></p>
        <p>{{ attempt.assignment.assignment_template.name }}</p>
        </div>
        <div class="ed-menu-top"><input
            name="attempt-name"
            id="attempt-name"
            type="text"
            value="{{ attempt.name }}"
            maxlength=32
        ></div><div class="ed-menu-top"><input
            id="editor-save"
            type="submit"
            name="save"
            value="Save"
            class="editor-option"
        ><input
            id="editor-test"
            type="submit"
            name="test"
            value="Test"
            class="editor-option"
        ><input
            id="editor-submit"
            type="submit"
            name="submit"
            value="Submit"
            class="editor-option"
        ></div>
{% endblock %}
{% block body %}
    <div id="editor-hpane">
    <div class="vertical-flexbox-wrapper">
        <textarea name="editor-ta" class="editor-ta python">{{ attempt.code }}</textarea>
    </div>
    <div id="editor-info-handle"></div>
    <div id="editor-info-pane">
        <div class="index_view_item">
            <b>Description</b>:
            {{ attempt.assignment.assignment_template.description }}
        </div>
        <div class="index_view_item">
            <b>Test Cases</b>
            {% for test in test_cases %}
                <div class="index_view_item test_case">
                {{ test.input }}{% if test.output %} = {{ test.output }}{% endif %}
                </div>
            {% endfor %}
            {% for test in user_tests %}
                <div class="index_view_item test_case">
                {{ test.input }} = {{ test.output }}
                <input class="deltest test_case_mark" name="deltest_{{ test.id }}" type="submit" value="&#xe802;">
                </div>
            {% endfor %}
            <div class="index_view_item test_case">
            <input name="new_test_in"> = <input name="new_test_out">
            <input name="new_test" id="new_test" type="submit" value="Add new test case">
            </div>
        </div>
        {% if attempt.results.all() %}
            <div class="index_view_item">
                <b>Latest Run</b>
                {% for result in [attempt.ordered_results[0]] %}
                    {% include 'instance_result.html' %}
                {% endfor %}
            </div>
            {% if attempt.results.all()|length > 1 %}
            <div class="index_view_item">
                <b>Previous Runs</b>
                {% for result in attempt.ordered_results[1:] %}
                    {% include 'instance_result.html' %}
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
    </div>
    </div>
{% endblock %}
{% block postbody_hack %}
    </form>
{% endblock %}
