{% extends "base.html" %}
{% block body %}
    <div id="content">
        {% if current_user.professor %}
        <div class="index_view">
            <div class="index_view_title">
                Manage Sections
                <a class="floater" href='/class/new'>New Section</a>
            </div>
            {% for section in teaching %}
                <div class="index_view_item">
                    <a href='/class/{{ section.id }}'>Manage {{ section.name}}</a>
                </div>
            {% endfor %}
            {% if not teaching %}
                <div class="index_view_item">No Sections</div>
            {% endif %}
        </div>
        {% endif %}
        {% if current_user.student %}
            <div class="index_view">
            <div class="index_view_title">Upcoming Assignments</div>
            {% for i, section in sections|enumerate %}
                {% if i != 0 %}<hr>{% endif %}
                {% with assignments=section|upcoming %}
                {% include 'assignments_view.html' %}
                {% endwith %}
            {% endfor %}
            {% if not sections %}
                <div class="index_view_item">No Upcoming Assignments</div>
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
