<div
    id="instance_result_{{ result.id }}"
    class="index_view {{ 'ASYNC_UPDATE' if result.should_update_async else '' }}"
>
    {% if force %}
        <div class="index_view_title">Test Case Results</div>
    {% else %}
    {% if result.is_submission %}
        <a href="/submission/{{ result.id }}"><b>View Submission</b></a>
    {% endif %}
    <div class="index_view_item">
        {{ result.pretty_status }} <i>{{ result.time_of_status|format_datetime }}</i>
    </div>
    {% endif %}
    {% if force or not result.is_submission %}
    {% for test_result in result.case_results %}
        <div class="index_view_item test_case">
            <p class="test_case_mark">
                {{ ("&#xe806;" if test_result.passed else "&#xe807;")|safe }}
            <p>
            {{ test_result.test_case.input }}
            {% if test_result.test_case.output is not none %} = {{ test_result.test_case.output }}{% endif %}
            {% if not test_result.passed %}
                <hr>Actual output: {{ test_result.actual_output }}
            {% endif %}
            {% if test_result.stdout %}<hr> Stdout: {{ test_result.stdout }}{% endif %}
            {% if test_result.stderr %}<hr> Stderr: {{ test_result.stderr }}{% endif %}
        </div>
    {% endfor %}
    {% endif %}
</div>
