{% extends "base.html" %}
{% block head %}
    <script src="/static/feedback_clicker.js"></script>
{% endblock %}
{% block prehead_hack %}
{% if teacher_view %}
    <form
        id="editor-form"
        class="vertical-flexbox-wrapper"
        method="post"
        action="/submission/update/{{ instance_result.id }}"
    >
{% endif %}
{% endblock %}
{% block head_menu %}
{% if teacher_view %}
        <div class="ed-menu-top"><input
            type="submit"
            name="save"
            value="Save"
            class="editor-option"
        ></div>
{% endif %}
{% endblock %}
{% block body %}
<div id="content">
    <div class="index_view">
        <div class="index_view_title">
            <b><a href="/class/{{ assignment.section.id }}">{{ assignment.section.name }}</a>:</b>
            {{assignment.assignment_template.name}}
        </div>
        <table>
        <tr><td><b>Student:</b></td><td><i>
        {{ instance_result.instance.student.account.name }} ({{instance_result.instance.student.account.network_id}})
        </i></td></tr>
        <tr><td><b>Submitted:</b></td><td><i>{{ instance_result.time_submitted|format_datetime }}</i></td></tr>
        <tr><td><b>Grade:</b></td><td><i>
            {% if submission %}
                {% if teacher_view %}
                    <input name="grade" value="{{ submission.grade }}">%
                {% else %}
                    {{ submission.grade }}%
                {% endif %}
            {% else %}
                Ungraded
            {% endif %}
        </i></td></tr>
        </table>
    </div>
    {% with result=instance_result, force=True %}
    {% include 'instance_result.html' %}
    {% endwith %}
    <div class="index_view">
        <div class="index_view_title">
            Submission Code
        </div>
        {% if submission %}
        <div class='mini gutter_pointer'>
        {% for comment in commented %}
        {% if comment[2] %}
            <textarea class="python {%if teacher_view%}gutter_click{%endif%} {{ comment[0] }}" readonly
                >{{ comment[2] }}</textarea>
            {% if comment[1] %}
                <textarea class="text/plain inline-comment" readonly>{{ comment[1] }}</textarea>
            {% endif %}
        {% endif %}
        {% endfor %}
        {% else %}
            <textarea class="python" readonly>{{ instance_result.code_snapshot }}</textarea>
        {% endif %}
        </div>
    </div>
    {% if submission %}
    {% if general %}
    <div class="index_view">
        <div class="index_view_title">Feedback</div>
        <div class='mini'>
            <textarea class="text/plain general" readonly>{{ general }}</textarea>
        </div>
    </div>
    {% endif %}
    {% if teacher_view %}
    <div class="index_view">
        <div class="index_view_title">Edit Feedback</div>
        <textarea name="comments" id="comments" class="text/plain"
            >{{ submission.comments }}</textarea>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}
{% block postbody_hack %}
    {% if teacher_view %}</form>{% endif %}
{% endblock %}
