{% extends "base.html" %}
{% block body %}
<div id="content">
    <div class="index_view">
        <div class="index_view_title">
        <b><a href="/class/{{ section.id }}">{{ section.name }}</a>:</b>
        New Assignment: Select Existing Template or New
        </div>
        {% for template in templates %}
        <div class="index_view_item">
            <a href="/new_assignment/{{ section.id }}/{{ template.id }}">{{ template.name }}</a>
            <i><a href="/new_assignment/{{section.id}}/delete_{{template.id}}">(Delete)</a></i>
        </div>
        {% endfor %}
        <div class="index_view_item"><a href="/new_assignment/{{ section.id }}/new">New</a></div>
    </div>
</div>
{% endblock %}
