{% include "base.html" %}
<div id="login-content">
    <div class="index_view">
        <div class="index_view_title">
            Select File
        </div>
        {% if error %}
            <div class="index_view_item error">{{ error }}</div>
        {% endif %}
        <form id="upload_form" action="#" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="_file">
            <label class="index_view_item" for="_file">Choose a file</label>
            <input class="index_view_item" type="submit" value="Submit">
        </form>
    </div>
</div>
